# refer to this link for creating your API token - https://finnhub.io/
API_Token=ch0met9r01qhadkoem2gch0met9r01qhadkoem30

# boost will add all elements of the same parameter to a single vector
Symbol_List=AMZN
Symbol_List=GOOG
Symbol_List=BBY
Symbol_List=BLK
Symbol_List=C
Symbol_List=EBAY
Symbol_List=FDX
Symbol_List=INTC
Symbol_List=JPM
Symbol_List=NVDA
Symbol_List=SEDG
Symbol_List=VZ
Symbol_List=V
Symbol_List=WDC
Symbol_List=BINANCE:BTCUSDT
Symbol_List=BINANCE:ETHUSDT
